@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  color: white;
  text-align: center;
}

/* 그림자 */
span,
h1,
h2 {
  text-shadow: 3px 3px #303030;
}

li > span {
  text-shadow: 2px 2px #303030;
}

body {
  width: 100%;
  height: 70vh;
  margin: 0;
  padding-top: 180px;
  text-align: center;
  background-position: center;
}

body::before {
  filter: blur(1px);
  --webkit-filter: blur(1px);
}

#clock {
  color: white;
  font-size: 48px;
  margin-bottom: 100px;
  position: absolute;
  top: 25px;
  left: 50px;
}

.name-input,
.todo-input {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  border-bottom: 2px solid #1ecd97;
}

.name-input::placeholder,
.todo-input::placeholder {
  text-align: center;
  color: white;
}

.greeting {
  width: 500px;
  height: 50px;
  margin-top: 150px;
  font-size: 42px;
  display: inline;
}

.hidden {
  display: none;
}

.time {
  display: inline;
}

#todo-form {
  margin-top: 140px;
}

.todo-input {
  margin-bottom: 10px;
}

#todo-list {
  width: 290px;
  margin: 0 auto;
}

#fun_fact {
  margin-top: 30px;
}

li {
  list-style: none;
  text-align: left;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

li > button {
  background: none;
  border: none;
  cursor: pointer;
}

#weather {
  position: absolute;
  font-size: 20px;
  bottom: 30px;
  right: 50px;
  color: white;
}
